/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
body {
    background-color: #932626;
    color: whitesmoke;
    margin: 0;
}

h1 {
    float: left;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #a04040;
}

.header {
    background: #860d0d;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

.main {
    padding-top: 12rem;
}


/* Ibrahim Jabbari -- www.ibrahimjabbari.com */

.plate {
    width: 410px;
    margin: 10% auto;
}

.shadow {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow: -3px -3px 0 #A52A2A, 3px -3px 0 #A52A2A, -3px 3px 0 #A52A2A, 3px 3px 0 #222, 4px 4px 0 #fff, 5px 5px 0 #fff, 6px 6px 0 #fff, 7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin: 0;
    text-align: center;
}

.script {
    font-family: "Seaweed Script";
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin: 0;
}

.script:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100%;
    border-bottom: 3px solid #fff;
}

.text1 {
    font-size: 60px;
}